.cartBlock {
    position: relative;
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}
.cartContainer {
    display: flex;
    padding-top: 10px;
    position: relative;
}
.cartItemImg {
    width: 200px;
    padding: 40px;
}
.cartItemImg img {
    width: 100%;
}
.cartControls {
    display: flex;
    padding-top: 20px;
    padding-left: 50px;
}
.cartControls ul li {
    list-style: none;
    text-align: left;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}
.total {
    text-align: right;
    padding-bottom: 20px;
    padding-right: 20px;
    font-weight: 500;
    font-size: 20px;
}
.remove {
    position: absolute;
    top: 20px;
    right: 15px;
}
.remove:hover {
    color: #80bdff;
    box-shadow: 0 0 7px rgba(0,123,255,.5);
    border-radius: 50%;
}
.divider {
    width: 100%;
    height: 1px;
    background: linear-gradient(0.25turn, #ffffff, #cecece, #ffffff);
    border: 0;
}
.leftBorder {
    position: absolute;
    width: 1px;
    height: 97%;
    left: 0;
    background: linear-gradient(0.5turn, #ffffff, #cecece, #ffffff);
    border: 0;
}
.topBorder {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    background: linear-gradient(0.25turn, #ffffff, #cecece, #ffffff);
    border: 0;
}
.rightBorder {
    position: absolute;
    width: 1px;
    height: 97%;
    right: 0;
    background: linear-gradient(0.5turn, #ffffff, #cecece, #ffffff);
    border: 0;
}
.bottomBorder {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background: linear-gradient(0.25turn, #ffffff, #cecece, #ffffff);
    border: 0;
}